@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

/*BODY STYLES*/
body {
	min-height: 400px;
	margin-bottom: 100px;
	clear: both;
}

footer i {
	color: darkslategrey;

}

.avatar{
	object-fit: cover;
	width: 40px;
	height: 40px;
	margin-bottom: 1rem;
	text-align: center;
}

.taskAvatar{
	object-fit: cover;
	width: 68px;
	height: 68px;
	margin-bottom: 1rem;
	text-align: center;
}

/*FORMS*/
button{
	width: 95%;
}




/*FOOTER STYLES*/
#icons {
	padding: 10px;
}

header {


}
