.item {
	padding: 20px;
	border: 1px solid black;
	width: 40vw;
}
.list {
	margin-left: 0px;
}
.list-group-item {
	display: flex;
	justify-content: space-between;
}
.list-group-item a {
	cursor: pointer;
}
.droppable {
	min-height: 100px;
	width: 40vw;
	margin-right: 9vw;
}