<phpunit>
	<testsuites>
		<testsuite name="KidTask Data Design">
			<file>ParentTest.php</file>
			<file>KidTest.php</file>
			<file>TaskTest.php</file>
			<file>StepTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>